server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auth/**

        - id: user-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/v1/users/**,/api/v1/cards/**
          filters:
            - JwtAuthFilter

        - id: order-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/orders/**,/api/v1/items/**
          filters:
            - JwtAuthFilter

jwt:
  secret: "your-super-secret-key-with-minimum-32-chars-for-hs256-algorithm"

logging:
  level:
    com.innowise.apigateway: DEBUG
    org.springframework.cloud.gateway: INFO