spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${LOCAL_POSTGRES_URL}
    username: ${LOCAL_POSTGRES_USER}
    password: ${LOCAL_POSTGRES_PASSWORD}
  jpa:
    show-sql: true
  liquibase:
    enabled: true

server:
  port: 8081
gateway:
  url: ${LOCAL_API_GATEWAY_URL}