spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: ${DOCKER_POSTGRES_URL}
    username: ${DOCKER_POSTGRES_USER}
    password: ${DOCKER_POSTGRES_PASSWORD}
  jpa:
    show-sql: false
  liquibase:
    enabled: true

server:
  port: 8081

gateway:
  url: ${DOCKER_API_GATEWAY_URL}