spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/user_service_db
    username: postgres
    password: 12345
  data:
    redis:
      host: redis
      port: 6379
  jpa:
    show-sql: false
  liquibase:
    enabled: true
