spring:
  datasource:
    url: ${LOCAL_POSTGRES_URL}
    username: ${LOCAL_POSTGRES_USER}
    password: ${LOCAL_POSTGRES_PASSWORD}
  jpa:
    show-sql: true
  liquibase:
    enabled: true
  data:
    redis:
      host: ${LOCAL_REDIS_HOST}
      port: ${LOCAL_REDIS_PORT}
  config:
    activate:
      on-profile: local
