spring:
  application:
    name: OrderService
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: false

app:
  jwt:
    secret: ${JWT_SECRET}
  kafka:
    create-order-topic: create-order
    create-payment-topic: create-payment
    order-group-id: order-service-group

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED