version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${DOCKER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DOCKER_POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: user-redis
    ports:
      - "6379:6379"

  user-service:
    build: .
    container_name: user-service
    depends_on:
      - postgres
      - redis
    env_file:
      - ./.env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"

volumes:
  pgdata: