name: CI Pipeline

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:
    branches:
      - main
      - develop

jobs:
  user-service:
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('UserService/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build UserService
        run: mvn -B -f UserService/pom.xml clean install -DskipTests

      - name: Unit Tests UserService
        run: mvn -B -f UserService/pom.xml clean test -Dgroups=unit -Pcoverage

      - name: Integration Tests UserService
        run: mvn -B -f UserService/pom.xml verify -Dgroups=integration

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push UserService Docker
        run: |
          docker build -t danikshch/userservice:latest UserService
          docker push danikshch/userservice:latest

  order-service:
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('OrderService/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build OrderService
        run: mvn -B -f OrderService/pom.xml clean install -DskipTests

      - name: Unit Tests OrderService
        run: mvn -B -f OrderService/pom.xml clean test -Dgroups=unit

      - name: Integration Tests OrderService
        run: mvn -B -f OrderService/pom.xml verify -Dgroups=integration

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push OrderService Docker
        run: |
          docker build -t danikshch/orderservice:latest OrderService
          docker push danikshch/orderservice:latest
